../../../.CFUserTextEncoding
        ../../../.DS_Store
        ../../../.Trash/
        ../../../.bash_history
        ../../../.bash_sessions/
        ../../../.config/
        ../../../.gitconfig
        ../../../.gitignore
        ../../../.lesshst
        ../../../.local/
        ../../../.netrc
        ../../../.node_repl_history
        ../../../.npm/
        ../../../.psql_history
        ../../../.viminfo
        ../../../.vscode/
        ../../../Applications/
        ../../.DS_Store
        ../../.localized
        ../../Custom Pay Stub.PDF
        ../../Jon & Kylie.png
        ../../Letter (3).pdf
        ../../Screen Shot 2021-02-18 at 12.12.34 PM.png
        ../../TaxReturn jon.pdf
        ../../Web Dev Resume 3.pdf
        ../../course_work/.DS_Store
        ../../course_work/2006-cpu-js-reps/
        ../../course_work/Stop Watch/
        ../../course_work/UNIV_FitnessTrackr_React_Starter/
        ../../course_work/UNIV_FitnessTrackr_Starter/
        ../../course_work/UNIV_Phenomena_Starter/
        ../../course_work/course_work.html
        ../../course_work/juicebox/
        ../../course_work/project_1/
        ../../course_work/project_10/
        ../../course_work/project_11/
        ../../course_work/project_15/
        ../../course_work/project_2/
        ../../course_work/project_3/
        ../../course_work/project_4/
        ../../course_work/project_5/
        ../../course_work/project_6/
        ../../course_work/project_7/
        ../../course_work/project_8/
        ../../course_work/project_9/
        ../../course_work/react_project/
        ../../course_work/virtual-velocity copy 2/
        ../../course_work/virtual-velocity copy/
        ../../course_work/virtual-velocity/
        ../.DS_Store
        ../infinite-scroll/
        ./
        ../template/
        ../../../Documents/
        ../../../Downloads/
        ../../../Library/
        ../../../Movies/
        ../../../Music/
        ../../../Pictures/
        ../../../Public/
        ../../../UNIV_Art_Collector_React_Starter/
        ../../../package-lock.json
        ../../../package.json
        ../../../react_hello_world/
        ../../../univ-retro-draw-react-starter/
